<section class="section tertiary">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Token Invalid
                            <small>MEANStack.io</small>
                        </h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Token invalid or expired.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <a ui-sref="signin">
                            < Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
